:root {
  --primary-dark: #131213; /* Primary dark color */
  --primary-mid: #212222;
  --accent-dark: #137234; /* Accent color */
  --accent: #1db954; /* Accent color */
}

body {
  background-color: var(--primary-dark);
  color: #fff;
  overflow: hidden;
  margin: 0; /* Optional: remove default margin */
  height: 100vh; /* Ensures the body takes up the full height of the viewport */
}

main{
  overflow-y:auto;
}

.active-track{
  height: calc(100vh - 100px);
}

.inactive-track {
  height:100vh ;
}

.profilePic {
  inline-size: 24px;
  block-size: 24px;
}

.primary-mid {
  color: var(--primary-mid);
}

.text-accent-dark {
  color: var(--accent-dark);
}

.text-accent {
  color: var(--accent);
}

.accent {
  color: var(--accent);
}

.signIn {
  background-color: var(--accent-dark);
}

.signIn:focus,
.signIn:active,
.signIn:hover {
  background-color: var(--accent-dark) !important;
  color: inherit !important;
  box-shadow: none !important;
}

.profileButton {
  background-color: var(--accent-dark);
}

.profileButton:focus,
.profileButton:active,
.profileButton:hover {
  background-color: var(--accent-dark) !important;
  color: inherit !important;
  box-shadow: none !important;
}

.darken {
  filter: brightness(50%);
}

.genre {
  background-color: #202528ec;
}

.artist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.album {
  opacity: 0.8;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #fff; /* Adjust color as needed */
}

.date {
  opacity: 0.7;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actions {
  position: absolute;
  width: 350px;
  margin-top: 345px;
  font-size: 30px;
  z-index: 999;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(
    180deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(0, 0, 0, 1) 35%
  );
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  min-height: 600px;
  overflow: hidden;
  margin: auto;
}

.recommendations-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
}

.recommendation {
  position: absolute;
  width: 350px;
  height: 350px;
  cursor: pointer;
  user-select: none;
  object-fit: cover;
}

.square-card {
  aspect-ratio: 1 / 1;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.card-img-overlay .text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-img-overlay .details-container {
  flex: 1; /* Allow this container to take up available space */
  min-width: 0; /* Prevent overflowing content from growing beyond its parent */
}

.card-img-overlay .shorten-text {
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  display: -webkit-box;
  line-clamp: 2; /* Limit to 2 lines */
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  margin: 0;
}

.card-img-overlay .ranking-container {
  flex-shrink: 0; /* Prevent this container from shrinking */
  margin-left: 0.5rem;
}

.card-img-overlay .ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  max-width: 50px;
  background-color: var(--accent-dark);
  padding: 15px;
  margin-left: 5px;
}

.swipeable-cards {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  top: 0;
  z-index: -1;
}

.player {
  width: 20%;
  margin: auto;
  background-color: var(--primary-mid);
  padding: 10px 10px 0 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(61, 58, 58, 0.247);
  position: fixed; /* Fixed position */ 
}

.main-wrapper {
  display: flex;
  align-items: center;
}



.now-playing__cover {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}


.now-playing__name {
  font-size: 1rem;
}

.now-playing__artist {
  font-size: 0.875rem;
  color: #6c757d;
}


.now-playing__controls {
  display: flex;
  align-items: center;
}

.btn-spotify {
  background: none;
  border: none;
  padding: 0;
  color:#fff;
}

.btn-spotify:focus {
  outline: none;
}

.btn-spotify .bi {
  vertical-align: middle;
}

.volume-controls {
  height: 3px;
}

.volume-controls input {
  accent-color: var(--accent);
}

/* Reset the ranger slider's default apperance */
input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
 	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font: inherit;
}

/* The custom range slider bar */
.progress-bar {
	width: 100%;
	height: 2px;
	margin-top: 0.5em;
	background-color: rgba(240, 237, 237, 0.2);
	border-radius: 0.25em;
	overflow: hidden;
  cursor:pointer;
}

/* The "thumb" (draggable) */
.progress-bar::-webkit-slider-thumb {
  appearance: none;
	width: 0;
	height: 0;
	border-radius: 0;
	
	/* This property adds the "tail" on the left of the thumb, remove it and test to see how it works */
	box-shadow: -100vw 0 0 100vw #fff;
}

/* Mozilla compatibility has to be written separately from the Chrome/Safari version above, for some reason. If you require it, be sure to include this rule, updating it to match the rule above */
.progress-bar::-moz-range-thumb {
  appearance: none;
	width: 0;
	height: 0;
	
	/* This property adds the "tail" on the left of the thumb, remove it and test to see how it works */
	box-shadow: -100vw 0 0 100vw #fff;
	
	/* Note: firefox adds a border to the thumb, so this is required to remove it */
	border: none; 
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: var(--accent-dark) !important;
  color: inherit !important;
  box-shadow: none !important;
}

.btn-nav {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.playlist-item {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shorten-text {
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  display: -webkit-box;
  line-clamp: 1; /* Limit to 2 lines */
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  margin: 0;
}

.playlist-image {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.playlist-name {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5px;
}

.playlist-owner {
  color: #9e9d9d;
}

.active-playlist {
  border: 2px solid var(--accent);
}

.playlists {
  background-color: var(--primary-mid);
  height: fit-content;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303131;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a5757;
}
